#logoImage{
    width: 40%;
}
#carouselImage{
    width: 5%;
}
#item1{
    background-image: url("../assets/african-woman-receiving-money-business-600w-2060724167.webp");
    height: 50vh;
    width: 100%;
}
.card-body{
    margin-top: -20%;
}
#services{
    background-color: #004aad;
    color: white;
    padding: 5rem;

}
#footerImage{
    width: 30%;

}
.footer{
    /* background-color: gray;
    color: white; */
}
#contact-us{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;

}
#terms-div{
    margin-top: 3rem;
}
#submit-button{
    margin-top: 1rem;
}
#privacy-heading{
    margin-bottom: 3rem;
    margin-top: 15rem;
}
#introduction{
    margin-top: 10rem;
}
#about-us-first{
    margin-top: 5rem;
    padding: 10rem;
}
#mission{
    background-color: #004aad;
    color: white;
    padding: 10rem;

}
#vision{
    padding: 10rem;
}
#terms{
    margin-top: 15rem;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }
  
  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  ol > li:before {
    content: counters(item, ".");
    display: table-cell;
    padding-right: 0.6em;
  }
  
  li ol > li {
    margin: 0;
  }
  
  li ol > li:before {
    content: counters(item, ".");
  }
  