#logoImage{
    width: 50%;
}
#carouselImage{
    width: 5%;
}
#item1{
    background-image: url("../assets/african-woman-receiving-money-business-600w-2060724167.webp");
    height: 50vh;
    width: 100%;
}
.card-body{
    margin-top: -20%;
}
#services{
    background-color: #004aad;
    color: white;
    padding: 5rem;

}
#footerImage{
    width: 30%;

}
.footer{
    /* background-color: gray;
    color: white; */
}
#contact-us{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;

}